:root {
    --primary-color-light: #91dffd;
    --primary-color: #19c9ff;
    --primary-color-dark: #0073b6;
    --accent-color: #00e77f;
    --accent-color-dark: #005e4e;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color-dark);
    background-color: white;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color-dark);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    width: 32px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent-color-dark);
    color: white;
    border-style: solid;
    border-width: 2px 0;
    border-color: var(--accent-color);
}

.hero article {
    position: absolute;
    top: 120px;
    right: 0;
    padding: 16px;
    text-align: left;
    background-color: var(--primary-color-dark);
    color: white;
    width: 40%;
    border-radius: 20px;
}

.hero article img {
    float: right;
    width: 125px;
    border-radius: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr 120px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: var(--primary-color-dark);
    padding: 5px;
    color: var(--primary-color-dark);
    justify-items: right;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    background-color: var(--primary-color-light);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

main {
    position: relative;
}

header img {
    width: 64px;
}

section h2 {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--primary-color);
    text-align: center;
}

.adventure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.adventure div {
    display: flex;
    justify-content: center;
    width: 100%;
}

figure {
    margin: auto;
    margin-top: 5px;
    width: 18%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-items: end;
    align-items: center;
    background-color: var(--primary-color-dark);
    color: white;
}

footer nav {
    display: flex;
    background-color: var(--primary-color-light);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

footer nav * {
    margin: 1px;
}

.history div {
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    align-items: center;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    text-align: right;

}

.contact div {
    text-align: left;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twowide {
    grid-column: span 2;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

.flexColumn * {
    text-align: center;
    width: 100%;
}

input {
    margin: 5px;
    padding: 2px;
}

label {
    height: min-content;
}

.employee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.employee h1 {
    grid-column: span 3;
    padding: 10px;
}

.employee img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.employee p {
    margin: 5px;
    padding: 0;
}

.address {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.address * {
    margin: 2px;
    padding: 0;
}

.signup {
    display: flex;
}

.signup * {
    margin: 16px;
    width: 100%
}

.callToAction {
    background-color: var(--accent-color-dark);
    border: 1px solid var(--accent-color);
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.callToAction p {
    margin: 15px auto 0 auto;
}

.callToAction a {
    width: 50%;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color-dark);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto 15px auto;
    text-decoration: none;
}

.more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.more * {
    padding: 0 10px;
    width: 100%;
}

.more figure {
    text-align: center;
}

.fullwidth {
    width: 100%;
    padding: 16px;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color-dark);
    background-color: var(--accent-color-dark);
    color: white;
    border-style: solid;
    border-width: 2px 0;
    border-color: var(--accent-color);
}

.fullwidth * {
    color: white;
}

.trips div {
    display: flex;
}

.trips h2 {
    margin-bottom: 10px;
}

.trips div div {
    display: inline-block;
    place-items: center;
}

.trips div div img {
    max-width: 200px;
}

.triptable * {
    color: black;
    border: 1px black solid;
    margin: 0px;
    padding: 5px;
}

.alltrips {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fullwidth a {
    font-size: x-large;
}