main {
    max-width: 80%;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: gray;
    color: white;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

nav {
    background-color: white;
    padding: 1px;
}

nav a {
    color: lightgray;
    padding: 2px;
    display: block;
}

a main img {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    box-shadow: none;
}

h1 {
    color: black;
}